<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/master.css">
        <link rel="stylesheet" href="/styles/index.css">
        <title>Document</title>
    </head>
    <body>
        <section id='login'>
            <section id='loginforms'>
                <div id="logo">
                    <img src="/pics/deiko-logo.svg" alt="deiko">
                </div>
                <div id="form">
                    <div id="buttons">
                        <button id='loginformbutton' class="actual">
                            se connecter
                        </button>
                        <button id='registerformbutton'>
                            s'inscrire
                        </button>
                    </div>
                    <fieldset id="content">
                        <legend>

                        </legend>
                        <div class="data">
                        </div>
                    </fieldset>
                </div>
                <div id='action'>
                    <button>
                        Okay
                    </button>
                </div>
            </section>
            <section id='logintext'>
                <div id='text'>
                    <p>
                        vous avez juste besoin de passer un appel video. Cela est peut etre pour une réunion de groupe, une entrevue, ou une information à passer, peut être juste pour passer un peu de temps avec vos proches ; pas besoin de vous faire une photo.
                    </p>
                    <p>
                        Avec deiko, l'important c'est que qu'importe la raison, passer cet appel est simple : inscrivez(|connecter) vous en deux clics et vous êtes en ligne.
                    </p>
                </div>
                <div id='slide'>
                </div>
            </section>
        </section>
        <script src='/js/index.js'>
        </script>
    </body>
</html>