:root{
    --bgbg:#2b2200;
    --fgbg:#554400;
    --bgfg:#2b2200;
    --fgfg:#aa8800;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--bgbg);
    color: var(--fgfg);
}